.form {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto 40px;
  position: relative;
}

.form::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #68c298;
}

.wrpap {
  position: relative;
}

.input {
  background-color: #eee;
  border-radius: 12px;
  width: 100%;
  height: 40px;
  border: 2px solid transparent;
  padding-left: 20px;
  outline: transparent;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  color: #a2a3a6;
}

.input:focus {
  border-color: #68c298;
}

.label {
  position: absolute;
  top: 50%;
  left: 14px;
  line-height: 1;
  font-size: 16px;
  padding: 0 6px;
  border-radius: 5px;
  transform: translateY(-50%);
  color: #242424;
  background-color: #eee;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + label,
.input:not(:placeholder-shown) + .label {
  top: 0;
  left: 8px;
  color: #68c298;
  font-size: 14px;
}

.error {
  position: absolute;
  bottom: -18px;
  line-height: 1;
  left: 10px;
  font-size: 14px;
  color: #fd292f;
}

.wrpap .error ~ .input {
  border-color: #fd292f;
}

.wrpap .error ~ .input + .label {
  color: #fd292f;
}
